# Testing files.
sound_bites/

# Build artifacts
build/
dist/
out/
bin/
lib/
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.exe

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pyd

# Logs and caches
*.log
*.cache
*.tmp

# IDEs
.vscode/
.idea/
*.swp
